.emptyChatRoomContainer {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.emptyChatRoomContainer,
.chatRoomContainer {
  height: 95vh;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddd;
  margin: 0.5em !important;

  @media (max-width: 1000px) {
    border: none;
    overflow: hidden;
    margin: 0 !important;
  }
}

.backButton {
  cursor: pointer;
  display: none !important;

  @media (max-width: 1000px) {
    display: block !important;
  }
}

.messagesContainer {
  margin-top: auto;
  max-height: 85vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  box-shadow: 0 0 25px #fff inset;
}

.chatMessage {
  color: #fff;
  margin-bottom: 0;

  span {
    max-width: 75%;
    display: inline-block;
    padding: 0.3em 1em;
    border-radius: 0.75em;
    margin-bottom: 0.1em;
    background-color: #2185d0;
    font-weight: bold;
    position: relative;
    text-align: left;
  }
}

.ourMessage {
  text-align: right;
}
