.emptyListContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyListContainer,
.roomsList {
  max-height: 70vh;
  overflow-y: auto;

  @media (max-width: 1000px) {
    max-height: 65vh;
  }
}

.roomItem {
  padding: 1em 0;
  display: flex;
  cursor: pointer;
  position: relative;
}

.active {
  border-right: 5px solid #2185d0;
  background-color: #2185d011;
}

.profilePic {
  margin-right: 1em;
}

.description {
  font-size: 0.7em;
  color: #777;
}

.unreadCountContainer {
  position: absolute;
  right: 2em;
  top: 50%;
}
