.sideBarContainer {
  padding: 2em;
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  max-width: 70px !important;
}

.hidden {
  @media (max-width: 1000px) {
    display: none;
  }
}
